/* common style */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

/* first-section style */
.first-section {
    background: rgba(255, 144, 14, 0.1);
}

.g3-architects {
    margin: 0 230px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h3 {
    font-weight: 700;
    font-size: 45px;
}

.menu li {
    list-style: none;
    display: inline;
    margin-right: 30px;
}

li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

.brand-title,
.brand-detail {
    text-align: center;
}

.brand-title {
    font-weight: 700;
    font-size: 64px;
}

.brand-detail {
    font-size: 16px;
    color: #727272;
}

.explore-btn-div {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.explore-btn {
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    border: 0px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}

.banner-img {
    width: 100%;
    margin-top: 50px;
    padding-bottom: 45px;
    border-radius: 8px;
}