/* common style */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

/* first-section style */
.first-section {
    background: rgba(255, 144, 14, 0.1);
}

.g3-architects,
.features-div {
    margin: 0 230px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h3 {
    font-weight: 700;
    font-size: 45px;
}

main li {
    list-style: none;
    display: inline;
    margin-right: 30px;
}

li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

.brand-title,
.brand-detail {
    text-align: center;
}

.brand-title {
    font-weight: 700;
    font-size: 64px;
}

.brand-detail {
    font-size: 16px;
    color: #727272;
}

.explore-btn-div {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.explore-btn {
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    border: 0px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}

.banner-img {
    width: 100%;
    margin-top: 50px;
    padding-bottom: 45px;
    border-radius: 8px;
}

/* features style */
.features-section {
    margin-top: 85px;
}

.features-div {
    display: flex;
    align-items: center;
}

.team-img-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

.features-info-div {
    padding-left: 73px;
}

.features-title {
    font-weight: 500;
    font-size: 45px;
}

.quick-color {
    color: #727272;
}

.of-color {
    font-weight: 700;
}

.features-color {
    font-weight: 700;
    color: #FF900E;
}

.features-detail {
    color: #727272;
}

/* 
-------------
Media Queries
-------------- */

/* Mobile Devices */
@media only screen and (max-width:576px) {
    .first-section {
        width: 100%;
    }

    .g3-architects {
        margin: 0;
    }

    header {
        flex-direction: column;
        width: 100%;
    }

    header h3 {
        text-align: center;
    }

    main li {
        display: block;
    }

    .brand-title {
        margin: 0;
    }

    .features-div {
        flex-direction: column;
    }

    .team-img-div {
        grid-template-columns: repeat(1, 1fr);
    }
}